.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.modal-card {
  padding: 30px;
  max-width: 480px;
  margin: 200px auto;
  background: #fff;
  border-radius: 10px;
}

.show {
  display: inline-block;
  margin: 8px;
  background-color: rgb(109, 73, 109);
}

.sales-btn {
  display: inline-block;
  margin: 8px;
  background-color: rgb(216, 20, 216);
  text-transform: uppercase;
}
